* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* -webkit-tap-highlight-color: transparent; */
}
.dashboard-card{
    background-color: #e5e5e5;
    border: 0px;
}
.dashboard-card2{
    /* margin: 10px 20px 10px 20px !important; */
    overflow: hidden;
    height: 126px;
    border: 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* box-shadow: 5px 5px 5px slategrey; */
}
.dashboard-card3{
    margin: 10px 20px 10px 20px !important;
    height: 120px;
    border: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* box-shadow: 5px 5px 5px slategrey; */
}
/* .items-container{
    margin-top: -15px;
} */
.item-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent items from wrapping to the next line */
  }
  
  .item-row {
    display: inline-flex; /* Display items in a row */
    gap: 10px; /* Add space between items */
  }
  
.img-div{
    display: flex;
    justify-content: center;
}
.title-div{
    display: flex;
    justify-content: center;
}
/* .container::card dashboard-card2 .scroll-horizontal scroll{
    position: absolute !important;
} */
.tab-div{
    display: flex;
    justify-content: center;
}
.featured-div{
    padding: 0px 20px 0px 20px;
}
.product-card{
    border-radius: 10px;
    box-shadow: 3px 5px 12px #bbbad5;
}
.product-footer{
    display: flex;
    justify-content: center;
}